---
import Layout from "../layouts/Layout.astro";
import Botellas from "../img/bebidas.png";
---

<Layout title="Productos">
	<main>
		<section id="comida">
			<div>
				<img src="" alt="comidas">
			</div>
			<div>
				<h1>Comidas</h1>
			</div>
		</section>
		<section id="bebida">
			<div>
				<h1>Bebidas</h1>
			</div>
		</section>
		<section id="dulce">
			<div>
				<img src="" alt="dulces">
			</div>
			<div>
				<h1>Postres y dulces</h1>
			</div>
		</section>
	</main>

	<style>

		main{
			position: relative;
			top: 200px;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
		}
		
		section{
			text-align: center;
		}

		#bebida{
			background-image: url(../img/bebidas.png);
			background-size: 250%;
			border-radius: 5px;
			width: 75%;
			height: 70vh;
			filter: sepia(90%);
		}

		#bebida:hover{
			scale: 1.2;
			box-shadow: 0 5px 5px black;
			rotate: 5deg;
		}

		#bebida h1{
			color: black;
			animation: color;
		}

		@keyframes color 

		div{
			color: white;
			text-align: center;
		}

	</style>
</Layout>