<body>
    <footer>
        <div>
            <p>
                &copy; 2024 Aarón García. 
                Casi todos los derechos reservados.
            </p>
        </div>
        <div>
            <a href="https://www.instagram.com/aroniii911/" target="_blank">Contacto</a>
            <a href="https://github.com/Aroniii563" target="_blank">Ver más</a>
        </div>
    </footer>
</body>

<style>

    @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

    footer{
        background: linear-gradient(to right, #40084b 50%, #f08ae3);
        display: flex;
        justify-content: center;
        box-shadow: 1px 0 10px #cfadd5;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        font-family: "Rajdhani", sans-serif;
        height: 6vh;
        position: fixed;
    }

    div:first-child p{
        color: #f08ae3;
        font-weight: bold;
        font-size: 20px;
    }

    div:last-child{
        margin: 10px 5% 0 50%;
    }

    div:last-child a{
        text-decoration: none;
        color: #40084b;
        font-weight: bold;
        font-size: 30px;
        margin: 20px;
    }

    div:last-child a:hover{
        text-decoration: double;
    }

</style>