---
import Logo from "../img/logotipo.png";
---

<body>
    <header>
        <header>
			<div>
                <a href="/"><img src={Logo.src} alt="logo"></a>
            </div>
            <nav>
                <button><a href="/">Inicio</a></button>
                <button><a href="/productos">Productos</a></button>
                <button><a href="/servicios">Servicios</a></button>
                <button><a href="/contacto">Contacto</a></button>
            </nav>
		</header>
    </header>
</body>

<style>

    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+DE+Grund:wght@100..400&display=swap');

    

</style>