---
import Logo from "../img/logotipo.png";
---

<body>
    <header>
        <header>
			<div class="logo">
                <a href="/"><img src={Logo.src} alt="logo"></a>
            </div>
            <nav>
                <button><a href="/">Inicio</a></button>
                <button><a href="/productos">Productos</a></button>
                <button><a href="/servicios">Servicios</a></button>
                <button><a href="/contacto">Contacto</a></button>
            </nav>
            <div class="data">
                <button class="sign-in">Sign in</button>
                <button class="sign-out">Sign out</button>
            </div>
		</header>
    </header>
</body>

<style>

     @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

    header{
        display: flex;
        justify-content: center;
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        box-shadow: 0 1px 10px #cfadd5;
        background: linear-gradient(to right, #40084b 50%, #f08ae3);
        z-index: 10;    
    }

    .logo img{
        width: 13%;
        filter: drop-shadow(0 1px 2px #f08ae3);
        margin-left: 20%;
        transition: rotate 0.5s ease-out;
    }

    .logo img:hover{
        scale: 1.1;
        rotate: -10deg;
    }

    nav{
        position: absolute;
        margin: 35px;
        width: 50%;
    }

    nav button{
        background: transparent;
        border: none;
        margin-right: 10%;
    }

    nav button:hover{
        scale: 1.2;
        animation: roll 1s ease-in;
    }

    @keyframes roll{
		0%{
			filter: drop-shadow(1px 2px 2px aqua);
		}
		25%{
			filter: drop-shadow(1px 2px 2px #725fd1);
		}
		50%{
			filter: drop-shadow(1px 2px 2px violet);
		}
		75%{
			filter: drop-shadow(1px 2px 2px pink);
		}
		100%{
			filter: drop-shadow(1px 2px 2px #f8cc85);
		}
	}

    nav button a{
        color: #f08ae3;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 30px;
        font-family: "Rajdhani", sans-serif;
        font-weight: bold;
    }

    .data{
        display: inline;
        justify-content: center;
        width: 30%;
        margin: 15px 0 10px 40%;
    }

    .data button{
        font-family: "Rajdhani", sans-serif;
        padding: 5%;
        width: 30%;
        border-radius: 10px;
        font-size: 20px;
        margin-right: 10px;
    }

    .sign-in{
        background: linear-gradient(60deg, #9571ee, #725fd1);
        border: 2px solid #cfadd5;
        box-shadow: 0 5px 5px #725fd1;
        color: white;
    }

    .sign-out{
        background: linear-gradient(60deg, #725fd1, #6c3aea);
        border: 2px solid #cfadd5;
        box-shadow: 0 5px 5px #725fd1;
        color: white;
    }

    .data button:hover{
        cursor: grab;
        scale: 1.1;
    }

    .sign-in:hover{
        animation: scroll 0.7s ease-in-out;
    }

    .sign-out:hover{
        animation: scroll2 0.7s ease-in-out;
    }

    @keyframes scroll{
        0%{
            background: linear-gradient(60deg, transparent, #9571ee, #725fd1);
        }
        25%{
            background: linear-gradient(60deg, transparent 50%, #9571ee, #725fd1);
        }
        50%{
            background: linear-gradient(60deg, transparent 75%, #9571ee, #725fd1);
        }
        75%{
            background: transparent;
        }
        100%{
            background: transparent;
        }
    }

    @keyframes scroll2{
        0%{
            background: linear-gradient(60deg, transparent, #725fd1, #6c3aea);
        }
        25%{
            background: linear-gradient(60deg, transparent 50%, #725fd1, #6c3aea);
        }
        50%{
            background: linear-gradient(60deg, transparent 75%, #725fd1, #6c3aea);
        }
        75%{
            background: transparent;
        }
        100%{
            background: transparent;
        }
    }

    @media (width < 1700px) {
        .logo img{
            width: 5%;
            margin-left: -20%;
        }

        nav{
            margin: 12px;
            width: 75%;
        }

        nav buttom{
            margin-right: 2%;
        }

        nav buttom a{
            font-size: 5px;
        }
    }

    @media (width > 2000px){
        .logo img{
            margin-left: 20%;
        }
    }

    @media (width < 1500px){
        .logo img{
            margin-left: -5%;
        }
    }

    @media (width < 1200px){
        .logo img{
            margin-left: 3%;
        }

        nav{
            width: 70%;
            margin: 10px;
            margin-right: 50px;
        }

        nav buttom{
            margin: 30px;
        }

        nav buttom a{
            font-size: medium;
        }
    }

</style>